
.maincontent{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.orangehigh{
    color: #F5A623;
}

.companyname{
    color: #F5A623;
    font-size: 80px;
    font-family: "caveat";
}

.signupdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 480px;
    width: 400px;
    /* border-style: solid;
    border-radius: 10px;
    border-color: #F5A623;
    border-width: 0.1px; */
    border-radius: 10px;
    box-shadow: 0px 2px 4px 0px grey , 0px 2px 8px 0px grey;
}



.signuptext{
   color: black;
}


.signinput{
    height: 40px;
    width: 330px;
    margin: 20px;
    border-radius: 20px;
    border: solid 2px;
    font-size: 20px;
}

.submitspace{
    height: 40px;
    width: 330px;
    margin: 10px;
    font-size: 20px;
    border-radius: 20px;
    border: none;
    background-color: #F5A623;
    font-weight: bold;
    
}




