*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
   
}



.header{
    width: 100%;
    height: 200px;
   
}



.custom-shape-divider-top-1707325309 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1707325309 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 169px;
}

.custom-shape-divider-top-1707325309 .shape-fill {
    fill: #F5A623;
}